body {
    background-color: #bababa;
}

.p2 {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}

.buttons {
    margin-left: 27%;
}

.button-89 {
    --b: 3px;
    --s: .45em;
    --color: #373B44;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.button-89:active {
    background: var(--color);
    color: #fff;
}

.button-89 {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

.sidebar {
    width: 25%;
    float: left;
}

img {
    float: right;
    margin: 10px;
}

.headline {
    text-align: center;
    display: flex;
    align-items: center;
    height: 10vh;
}

.centered-h1 {
    margin: 0 auto;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.lists {
    display: flex;
}

.list {
    flex: 1;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 255);
}

tr {
    background-color: rgba(66, 159, 105, 0.123);
    border: 2px solid rgb(0, 0, 0);
}

td,
th {
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    margin: 10px;
    max-width: 300px;
    /* Säädä kuvien maksimileveys tarpeen mukaan */
}