/* Style the top navigation bar */
.top-nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
}

/* Style the sidebar */
.sidebar {
    background-color: #f0f0f0;
    width: 200px;
    height: 100%;
    float: left;
}

/* Style the sidebar links as a column */
.sidebar a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
}

/* Style the main content area */
.content {
    margin-left: 200px;
    padding: 20px;
}

.main {
    display: flex;
    align-items: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container img {
    align-self: baseline;
}

.flex-text {
    flex-direction: column;
}


img {
    max-width: 50%;
    height: auto;
    align-self: center;
}

/* Style the table */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

td, th {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}
